body
  h1(style="text-align:center; font-family: 'Verdana, Geneva', sans-serif;") COMP 4985  - Friend Locator
  #map(style="width:100%; height:90%; position: absolute; top: 10%; left: 0px;")
  script(src='/map.js')
  script(async, defer, src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBIOKzYVMP70n5eBOVWmg-Qac3YedLim7E&callback=initMap')
